@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("./images/bg-intro-mobile.png");
  background-color: var(--Red);
  padding: 8.8rem 2.4rem;
  min-height: 100vh;
  display: grid;
  max-width: 58.8rem;
  margin: 0 auto;
}

header h1 {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.6rem;
  text-align: center;
  color: white;
  margin-bottom: 2.4rem;
}

header p {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  color: white;
  margin-bottom: 6.4rem;
}

main div.info {
  background: var(--Blue);
  padding: 1.8rem 7.2rem;
  border-radius: 1rem;
  margin-bottom: 2.4rem;
  box-shadow: 0px 8px 5px rgba(62, 60, 73, 0.55);
}

main div.info span {
  display: block;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: -0.015em;
  color: white;
}

main div.info span b {
  font-weight: 600;
}

main form {
  background: white;
  padding: 2.4rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 5px rgba(62, 60, 73, 0.55);
}

main form div {
  position: relative;
  margin-bottom: 1.8rem;
}

main form div input {
  width: 100%;
  height: 5.4rem;
  padding: 0 1.6rem;
  outline: none;
  border: 1px solid var(--Grayish-Blue);
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0.015em;
  color: var(--Dark-Blue);
}

main form div input::placeholder {
  color: var(--Grayish-Blue);
}

main form div input:focus {
  border-color: var(--Dark-Blue);
}

main form div img {
  position: absolute;
  top: 22%;
  right: 1.6rem;
  display: none;
}

main form div span.alert {
  display: none;
  text-align: right;
  font-style: italic;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: var(--Red);
  padding-top: 0.6rem;
}

main form button {
  width: 100%;
  height: 5.6rem;
  background-color: var(--Green);
  border: 0;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.055em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 0.8rem;
  box-shadow: inset 0px 1px 3px rgb(62 60 73 / 21%),
    inset 0px -3px 5px rgb(62 60 73 / 21%);
  transition: all 0.3s ease-in-out;
}

main form button:hover {
  background: hsla(154, 59%, 51%, 80%);
}

main div.terms {
  color: var(--Grayish-Blue);
  padding: 0 1.6rem;
  margin: 0;
}

main div.terms span {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 2.1rem;
}

main div.terms span b {
  font-weight: 600;
  color: var(--Red);
}

.block {
  display: block !important;
}

.errInput {
  border-color: var(--Red);
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url("./images/bg-intro-desktop.png");
    max-width: 100%;
    padding: 12.1rem 16.5rem 0;
    grid-template-columns: 51rem 54rem;
    grid-template-rows: max-content;
    gap: 6rem;
  }

  header {
    display: grid;
    place-content: center;
  }

  header h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    text-align: left;
    margin-bottom: 2.8rem;
    letter-spacing: -0.01em;
  }

  header p {
    text-align: left;
    margin: 0;
  }

  main form {
    padding: 4rem;
  }

  main form div {
    margin-bottom: 2rem;
  }

  main form div input {
    height: 5.6rem;
    padding: 0 3.2rem;
  }

  main form div img {
    top: 25%;
    right: 3.2rem;
  }

  main form button {
    margin-bottom: 1.4rem;
  }
}
