* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    width: 48vh;
    border-radius: 16px;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0vh 4vh 73px 0px hsl(0deg 0% 0% / 62%);
    transform: scale(0.9);
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px 0px;
}

div img {
    width: 42vh;
    height: 43vh;
    border-radius: 7px;
}

.image_view {
    position: absolute;
    opacity: 0;
}

.image_view img {
    width: 5vh;
    height: 5vh;
}

.image_view:hover {
    opacity: 1;
    background-color: rgba(0, 255, 247, 0.336);
    width: 42vh;
    height: 43vh;
    cursor: pointer;
    border-radius: 7px;
}


.continar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-bottom: -15px;
    padding-top: 3px;
}

h1 {
    font-size: 18px;
    transform: translate(0px, -15px);
    color: white;
}
h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.continar p {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    color: #778caa;
}

aside {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    padding-left: 25px;
    padding-right: 25px;
}

hr {
    width: 85%;
    border-color: #ffffff1f;
}

.color1 {
    color:hsl(178, 100%, 50%);
}

.color1 svg {
    transform: translateY(1px);
}

.color {
    color: hsl(215, 51%, 70%);
}

.color svg {
    transform: translateY(1px);
}

.color2 {
    color: white;
    padding-left: 4px;
}

.color2:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

footer{
    display: flex;
    align-items: center;
    align-self: flex-start;
    transform: translate(23px, -10px);
    color: #91a3c0;
}

footer img {
    width: 4vh;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}