        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-size: 16px;
            background-color:hsl(0, 100%, 74%)  ;
            background-image: url(" ./images/bg-intro-desktop.png ");
            font-family: 'Poppins', sans-serif;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(375px, auto));
            grid-gap: 40px;
            margin: 270px auto 0px;
            padding: 0px 300px;
        } 
        h1{
        color :white;
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 20px;
        }
        p{
            color : white;
            line-height: 25px;
        }
        .title-form {
            color: white;
            background-color: hsl(248, 32%, 49%);
            text-align: center;
            font-weight: 900;
            font-size: 13px;
            padding: 11px;
            border-radius: 7px;
            margin-bottom: 12px;
            box-shadow: -1px 6px 2px #00000029;
        }
        .title-form .span-title {
            font-size: 13px;
            font-weight: 100;
        }
        .container-form {
            margin-top: -150px;
            width: 99%;
        }
        .container-form form {
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: normal;
            border-radius: 10px;
            padding-bottom: 17px;
            box-shadow: 0px 6px 1px 0px #0000002b;
        }
        .alert1 ,.alert2 ,.alert3, .alert4 {
           font-size: 10px;
          font-style: italic;
          color: hsl(0, 100%, 74%);
          text-transform: capitalize;
          font-weight: 600;
          display: none;
        }
        .alert1 {
          transform: translate(192px, -6px);
        }
        .alert2 {
          transform: translate(192px, -3px);
          
        }
        .alert3 {
          transform: translate(200px, -2px);
        }
        .alert4 {
          transform: translate(202px, -4px);
        }
   
        .container-form form  input , #submit {
            outline-color:hsl(248, 32%, 49%) ;
        }
        .container-form form  input:first-child  {
            margin: 30px 30px 10px;
            
        }

        .container-form form  input , #submit {
            margin: 7px 30px;
        }
        .container-form form  input {
            padding: 12px 30px;
            border: 2px solid #e3e3e3;
            border-radius: 4px;
            font-size: 13px;
            font-weight: 700;
            
        }
        #submit {
            padding: 14px 30px;
            text-transform: uppercase;
            color: white;
            background-color:hsl(154, 59%, 51%);
            border: none;
            border-radius: 3px;
            cursor: pointer;
            box-shadow: 0px 3px 0px 0px hsl(154deg 45.66% 43.35%);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 10px;
            letter-spacing: 1px;
        }
        #submit:hover {
          background-color: hsla(154, 59%, 51%, 0.632);
          box-shadow: 0px 3px 0px 0px hsla(154, 46%, 43%, 0.751);
        }
        .container-form form .p-form {
            color:hsl(246, 25%, 77%);
            font-size: 8px;
            text-align: center;
        }
        .redFont {
            color:red;
        }

        @media (min-width: 375px) and (max-width: 900px) {
          body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto auto;
            max-width: 50%;
          }
        
          .container {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          h1 {
            text-align: center;
            line-break: anywhere;
            font-size: 28px;
            padding-bottom: 10px;
          }
          p {
            text-align: center;
            margin: 0px 15px 0px -25px;
            width: 118%;
          }
          .container-form {
            margin: 0px auto;
            width: 107%;
          }
          .container-form form {
            width: 90%;
          }
          .container-form form input:first-child {
            margin: 19px 13px 5px 16px;
          }
          .container-form form input  {
            margin: 5px 13px 5px 15px;
          }
          .alert1{
            transform: translate(97px, -2px);
          }
        
          .alert2 {
            transform: translate(96px, -1px);
          }
        
          .alert3 {
            transform: translate(96px, -1px);
          }
         
          .alert4 {
            transform: translate(96px, -2px);
          }
          
          .title-form {
            width: 90%;
            font-size: 13px;
            padding: 15px 35px;
          }
          #submit {
            margin: 5px 13px 5px 15px;
          }
          .container-form form .p-form {
            margin: 5px 0px 0px 45px;
            width: 67%;
            text-align: center;
            line-height: 17px;
          }
        }

        